.about-container {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.background-image {
  background-image: url("1.jpg");
  background-size: cover;
  width: 100%;
  height: 170px;
  position: relative;
  opacity: 0.1;
}
.about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-align: center;
  opacity: 1;
}
.content-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.text-container {
  width: 50%;
}
.text-container h2 {
  color: #0ef;
}
.text-container p {
  color: white;
  margin-top: -10px;
  text-align: justify;
  font-size: 20px;
}

.image-container {
  margin-top: 30px;
  margin-left: 50px;
  width: 50%;
}

.image-container img {
  width: 100%;
  border-radius: 25px;
}
.vision-mission-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  background-color: black;
}

.vision-container,
.mission-container {
  margin: 0 50px;
  width: 48%;
}

.vision-container h2,
.mission-container h2 {
  font-size: 24px;
  color: #0ef;
  margin-bottom: 10px;
}

.vision-container p,
.mission-container p {
  color: white;
  text-align: justify;
  font-size: 19px;
}
