/* manageredit.css */

#me2 {

    margin: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 5px 7px 8px 8px #0ef;
  }
  
  .Client2 {
    color:antiquewhite;
  }
  
  #labeldiv2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .velabel2 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0ef;
  }
  
  .veinput2 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  #status {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  #vebtn2{
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 500px;
    
  }
  input[type=file]::file-selector-button {
    border: 2px solid #000;
    padding: .2em .4em;
    border-radius: 5px;
    background-color: #0ef;
    font-weight: bold;
    transition: 0.3s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #0ef;
    border: 5px solid #00cec9;
  }
  .file{
    color: #0ef;
  }
  
  #vebtn2:hover {
    background-color: green;
    padding: 10px 50px;
    transition: 1s;
  }
  